.App {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #121212;
   color: #fff;
   min-height: 100vh;
   overflow-x: hidden;
 }

 #gridContainer {
   border: 2px solid;
   border-image: linear-gradient(45deg, #ff4081, #33ff57, #3357ff, #ffff33, #ff33ff, #33ffff, #ff4081) 3;
   border-radius: 10px;
   padding: 15px;
   display: inline-block;
   width: fit-content;
 }
 
 #grid {
   display: grid;
   grid-template-columns: repeat(20, 25px);
   grid-template-rows: repeat(20, 25px);
   gap: 1px;
   width: auto;
 }
 
 .pixel {
   width: 25px;
   height: 25px;
   background-color: #333;
   cursor: pointer;
 }
 
 .pixel:hover {
   background-color: #777 !important;
 }

 .modal {
   display: flex;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);
 }
 
 .modalContent {
   background-color: #444;
   padding: 20px;
   border: 1px solid #888;
   border-image: linear-gradient(45deg, #ff4081, #33ff57, #3357ff, #ffff33, #ff33ff, #33ffff, #ff4081) 3;
   width: 50%;
   color: #fff;
   text-align: center;
 }
 
 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
   cursor: pointer;
 }
 
 .close:hover,
 .close:focus {
   color: red;
   text-decoration: none;
 }
 
 .colorOption {
   width: 30px;
   height: 30px;
   display: inline-block;
   margin: 5px;
   cursor: pointer;
   border: 2px solid #fff;
 }
 
 .colorOption.selected {
   border: 4px solid #999;
 }
 
 
 /* Mobile Styles */
 @media (max-width: 600px) {
   #gridContainer {
     padding: 5px;
     width: 95vw;
     max-width: 300px;
     overflow: hidden;
   }
 
   #grid {
     grid-template-columns: repeat(20, 14px);
     grid-template-rows: repeat(20, 14px);
     gap: 1px;
     width: 100%;
   }
 
   .pixel {
     width: 14px;
     height: 14px;
   }
 }

 @keyframes gradientAnimation {
   0% { background-position: 0% 50%; }
   50% { background-position: 100% 50%; }
   100% { background-position: 0% 50%; }
 }