.statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.5rem;
  text-align: center;
  min-height: 40px;
}

.statsContainer span {
  white-space: nowrap;
}

.fireIcon {
  width: clamp(6px, 1vw, 8px);
  height: clamp(6px, 1vw, 8px);
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
}
